/**
 * Helper mixins
*/

@mixin regular-text{
  font: {
    size:1.6rem;
    family:Arial;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin font_logo_subtitle{
  font: {
    size:1.3rem;
    family:Arial;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin sidebar-link{
  font: {
    size:1.8rem;
    family:PT Sans;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin title__h2{
  font: {
    size:1.8rem;
    family:PT Sans;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin title__h3{
  font: {
    size:2rem;
    family:PT Sans;
    style:normal;
    weight:bold;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin paragraph{
  font: {
    size:1.8rem;
    family:PT Sans;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin dialog__title{
  font: {
    size:1.6rem;
    family:PT Sans;
    style:normal;
    weight:normal;
  }
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

@mixin btn-style{
  padding: 15px 45px;
  color:$color-dark-xl;
  font-size: 1.7rem;
  font-family: Georgia;
  line-height: 130%;
  letter-spacing: 0.06em;
}




// Clearfix
// http://www.cssmojo.com/latest_new_clearfix_so_far/
// Other clearfix options: https://github.com/stubbornella/oocss/blob/master/oocss/src/components/utils/_clearfix-me.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Media queries
@mixin bp($point) {
  @if $point == large {
    @media (min-width: 1280px) { @content; }
  } @else if $point == small {
    @media (max-width: 1279px) { @content; }
  }
}

// Text selection
@mixin text-selection($color-selection, $color-selection-bg) {
  ::-moz-selection { // sass-lint:disable-line no-vendor-prefixes
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }

  ::selection {
    background: $color-selection-bg;
    color: $color-selection;
    text-shadow: none;
  }
}

//Placeholders
//Usage:
//@include placeholder;
@mixin placeholder {
  // sass-lint:disable no-vendor-prefixes
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
