/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$main-color: #3C3D42;
$alternative-color: #fff;
$first-color: #ff4400;
$second-color: #eeeeee;
$third-color: #55565B;
$fourth-color: #747579;



$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$mainColor: #1d527a;

/* Components */
