/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black-color: #000;
$white-color: #fff;
$first-color: #D7C2FF;
$second-color: #8757DF;
$third-color: #F2F2FB;
$fourth-color: #E5DFF7;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$mainColor: #1d527a;

/* Components */
