/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black-color: #000;
$white-color: #fff;
$light-color: #ffee88;
$black-blue-color: #001730;
$light-blue-color: #4AD7D1;
$orange-color: #FE4A49;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

$mainColor: #1d527a;

/* Components */
